
<!DOCTYPE html>
<html>
<head>
 <style type="text/css">
  body { text-align:center;font-family...2F;7&#x2F;7&#x27;}
  </style>
</head>
<body>
<! DOCTYPE html>
<html>
<head></head>
<body>
<h1>Hi <%= params[:num1].to_i * params[:num2].to_i %></h1>
</body>
</html>

</body>

</html>
